/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/


.logo-container {
  text-align: center;
}

.logo-img {
  max-width: 200vh;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.logo-text1{
  color: #ff0000; 
  font-size: 8vh;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-text{
  color: #ffffff; 
  font-size: 8vh;
  font-weight: bold;
  font-family: 'Brush Script MT', cursive;
}

.menu {
  background-color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0;
  
}

.menu > div {
  margin: 0;
  border: none;
}

.d-flex.align-items-center {
  border: none !important;
  margin-bottom: 0 !important;
  padding: 10px !important;
}

.menu h4 {
  font-style: bold;
  color: bisque;
  font-size: 6vh;
}


.menu p {
  font-style: italic;
  color: gold;
  font-size: 4.5vh;

}

.menu h5  {
  font-weight: bold;
  color: rgb(255, 248, 212);
  font-size: 4vh;
}

.add-button {
  background-color: #ff0000 !important;
  border: none !important;
  margin-top: auto;  
  transition: background-color 0.3s ease !important;
}

.add-button:hover {
  background-color: #960000 !important;
}

.add-button:active {
  background-color: #430000 !important;
}

.btn-outline-secondary {
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.mx-2 {
  color: rgb(255, 255, 255);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  width: 100%;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.clear-all-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -25px;
  margin-bottom: 50px;
  margin-right: 15px;
}

.clear-all-button:hover {
  background-color: darkred;
}

.subtotal-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: yellow;
  margin-right: 950px;
}

.order-button {
  background-color: red;
  color: white;
  border: none;
  margin-top: -25px;
  margin-bottom: 50px;
  margin-right: 15px;
  padding: 10px 20px;
  border-radius: 8px;

}

.order-button:hover {
  background-color: darkred;
}


